:root {
    box-sizing: border-box;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-open: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 1352px;
    position: relative;
}

header {
    background-color: var(--color-white);
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.logo {
    font: normal normal 300 32px/37px Raleway;
    color: var(--color-primary);
    margin: 16px 0 17px 0;
}

.header__ul{
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    opacity: 1;
}
.header__li {
    padding: 28px 47px 27px 47px;
}

.header__li a:link {
    color: var(--color-grey);
}
.header__li a:visited {
    color: var(--color-grey);
}
.header__li a:hover {
    color: var(--color-black);
    border-bottom: 4px solid #08A6E4;
    opacity: 1;
    padding: 0 0 27px 0;
}

.opening {
    width: 100%;
    height: 712px;
    margin: 130px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
}

.heading1 {
    font: normal normal normal 49px/57px Raleway;
}

.opening__p {
    font: normal normal normal 16px/22px Open Sans;
    margin: 20px 0 38px 0;
}

.btn {
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    font: normal normal bold 16px/22px Open Sans;
    color: var(--color-white);
    padding: 22px 157px 23px 157px;
}
.opening__background {
    width: 100%;
    height: 594px;
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.stats {
    width: 100%;
    background: var(--color-white);
}
.stats__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading2 {
    font: normal normal normal 36px/42px Raleway;
    color: var(--color-black);
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.stats__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}
.stats__circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: var(--color-redish);
    margin: 100px 0 14px 0;
}
.stats__circle__middle {
    background: var(--color-primary);
}
.stats__circle_end {
    background: var(--color-green);
}
.stats__img1 {
    width: 44px;
    height: 52px;
    position: absolute;
    top: 102px;
    right: 17px;
}
.stats__img2 {
    width: 65px;
    height: 37px;
    position: absolute;
    top: 115px;
    right: 16px;
}
.stats__img3 {
    width: 52px;
    height: 48px;
    position: absolute;
    top: 105px;
    right: 0;
}
.stats__number {
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 5.96px;
    color: var(--color-black);
}
.stats__description {
    font: normal normal normal 17px/20px Raleway;
    letter-spacing: 0px;
    color: var(--color-grey);
    margin: 19px 0 122px 0;
}
