.calc {
  padding: 80px 0;
  background-color: $color-light-grey;
  font: 13px/18px Open Sans;
  @include mobile {
    padding: 30px 15px;
  }
  h2 {
    text-align: center;
  }
  &__columns {
    max-width: 865px;
    margin: 50px auto 0;
    display: flex;
    @include mobile {
      display: block;
    }
  }
  &__form {
    width: 50%;
    margin-right: 20px;
    margin-left: 30px;
    @include mobile {
      width: 100%;
      margin-right: 0;
    }
  }

  &__input input,
  &__select .select__input {
    color: $color-grey;
    width: 100%;
    border-radius: 6px;
    border: 1px solid $color-primary;
    padding: 11px 20px;
    line-height: 1em;
    font-size: 0.8125rem;
    box-shadow: 0 3px 6px $color-primary-shadow;
    margin-bottom: 20px;
    background-color: $color-white;
  }
  &__input {
    input {
      &::placeholder {
        color: $color-grey;
      }
    }
  }
  &__select {
    position: relative;

    .select__input {
      position: relative;
      height: 40px;
      vertical-align: middle;
      padding: 13px 20px;
      cursor: pointer;
      &::after {
        content: "";
        background-image: url("../assets/Arrow.svg");
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        right: 14px;
        top: 9px;
      }
    }
    .select__dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: white;
      width: 100%;
      border-radius: 6px;
      border: 1px solid $color-redish;
      overflow: hidden;
      li {
        font-size: 13px;
        padding: 10px 20px;
        cursor: pointer;
        &:hover {
          background-color: $color-light-grey;
        }
      }
    }
    &.open {
      .select__input::after {
        transform: rotate(180deg);
      }
      .select__dropdown {
        display: block;
      }
    }
  }

  //ustawienia dodaję do checkboxa
  //ustawienia dodaję do checkboxa

  #accounting, #terminal {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  //ustawienia dodaję do checkboxa
  //ustawienia dodaję do checkboxa


  .form__checkbox {
    .consent__text {
      padding-top: 4px;
    }
  }
  .form__checkbox {
    @include checkbox;
    margin: 10px;
  }
  .form__checkbox span {
    @include checkboxSpan;
  }
  .form__checkbox input:checked + span {
    @include checkboxChecked;
  }


  &__summary {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    @include mobile {
      width: 100%;
      margin-left: 0;
      margin-top: 30px;
    }
      ul {
        margin-left: 50px
      }

    .summary__total,
    .list__item {
      box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
      border-radius: 6px;
      justify-content: space-between;
      align-items: center;
      color: $color-white;
      font-size: 0.875rem;
      display: none;
      &.open {
        display: flex;
      }
    }
    .summary__total {
      width: 50%;
      align-self: flex-end;
      margin-top: 22px;
      padding: 8px 20px;
      background-color: $color-primary;
      //display: flex;
      //justify-content: space-between;
      .total__price {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
    .list__item {
      padding: 6px 20px;
      background-color: $color-green;
      margin-bottom: 8px;
      .item {
        &__price {
          font-weight: 700;
          font-size: 1.125rem;
        }
      }
    }
  }
}